.card{
    position: relative;
    background: transparent !important;
    border: transparent !important;
}

.card img {
    width: 72px;
    display: block;
    border-radius: 8%;
}

/* front of card  */
.card .front {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
    width: 72px;
    height: 112px;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of card  */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition: 0s;
}

.disappear{
    opacity: 0;
}
